html, body{
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", sans-serif;
  overflow:hidden;
  background-image: linear-gradient(to bottom, deepskyblue 0%, royalblue 95%);
  color: white;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: 0.8s ease-in-out onLoad;
}

.container h1{
  margin: 0;
}

.container h3{
  font-style: italic;
}

.link-container a{
  margin: 0 1rem;
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", sans-sans-serif;
}

@keyframes onLoad {
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (min-width: 1300px){
  .container h1{
    font-size: 8rem;
  }

  .link-container{
    margin: 1rem 0;
  }
}
